body {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "ROND" 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    background: rgb(165, 242, 155);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input[type="number"], input[type="text"] {
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 80%;
}

button {
    background-color: #855ee7;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

.options {
    text-align: left;
    margin: 10px 0;
}
